#title {
  height: 500px;
  width: 1519px;
  text-align: center;

  /* put title background image here: */
  background-image: url("https://drscdn.500px.org/photo/224226723/m%3D2048/v2?sig=98f73dda3c8af34384e01d46702feb68c615f7279b58f0d03cee7e7b4acd82fc");
  
  color: black;
  padding: 150px;
  margin-bottom: 100px;
  display: flexbox;
  }

.flexer {
  display: flex;
}